{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        购物车
        {% endblock %}
    </title>

    <script type="text/javascript" src={% static "shopping/js/jquery-1.12.3.js" %}></script>
    <link href={% static "shopping/css/cart.css" %} rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src={% static "shopping/js/jquery.cookie.js" %}></script>
    <script type="text/javascript" src={% static "shopping/js/cart.js" %}></script>
    {% block addjs %}

    {% endblock %}
</head>
<body>
<div class="header">
    <div class="header-con">
        <a href={% url 'mgj:mainPage' %} class="home-fl">蘑菇街首页</a>
        <ul class="nav_list">
            {% if user %}
                <li class="show_register">
                    <a href='#'>用户名：{{ user.username }}</a>
                </li>
                <li class="show_login">
                    <a href={% url 'mgj:logout' %}>注销&nbsp;|</a>
                </li>
            {% else %}
                <li class="show_register">
                    <a href={% url 'mgj:register' %}>注册</a>
                </li>
                <li class="show_login">
                    <a href={% url 'mgj:login' %}>登录&nbsp;|</a>
                </li>
            {% endif %}
            <li class="myorder">
                <img src="{% static 'img/top_nav2.jpg' %}" alt="">
                <a href={% url 'mgj:orderlist' %}>我的订单&nbsp;|</a>
            </li>
            <li class="shoppingcar">
                <img src="{% static 'img/top_car.jpg' %}" alt="" style="width:14px; height: 14px;">
                <a href={% url 'mgj:shopping' %}>购物车&nbsp;|</a>
                <div class="empty_cart"></div>
            </li>
            <li class="customer_service">
                <a href="#">客户服务&nbsp;|</a>
                <ul class="service_none">
                    <li><a href="#">消费者服务</a></li>
                    <li><a href="#">商家服务</a></li>
                    <li><a href="#">规则中心</a></li>
                </ul>
            </li>
            <li class="xiaodian">
                <img src="{% static 'img/top_nav3.jpg' %}" alt="" style="width:14px; height: 14px;">
                <a href="#">我的小店</a>
                <ul class="myxiaodian">
                    <li><a href="#">管理后台</a></li>
                    <li><a href="#">商家社区</a></li>
                    <li><a href="#">商家培训</a></li>
                    <li><a href="#">市场入住</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="body_wrap">
    <div class="banner">
        <div class="banner-con">
            <div class="logo-cart"></div>
            <div class="process-bar">
                <div class="process-steps">
                    <div class="done-steps"></div>
                    <i class="steps steps1">
                        1
                        <span class="tips">购物车</span>
                    </i>
                    <i class="steps steps2">
                        2
                        <span class="tips">确认订单</span>
                    </i>
                    <i class="steps steps3">
                        3
                        <span class="tips">支付</span>
                    </i>
                    <i class="steps steps4">
                        4
                        <span class="tips">完成</span>
                    </i>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-con">
        <!--不为空-->
    {% block order %}


        <table class="cartlist" border="1px">
            <thead>
            <tr>
                <th class="select">

                    <input type="checkbox" name="check" checked="checked" id="allselect" class="checkall" selectall={{ isall | lower }}>
                    <label>全选</label>
                </th>
                <th class="tablegood">商品</th>
                <th class="goodsinfo">商品信息</th>
                <th>单价（元）</th>
                <th class="goodnum">&nbsp;&nbsp;&nbsp;数量</th>
                <th class="goodssum">小计</th>
                <th class="goodsctrl">操作</th>
            </tr>


            {% for cart in carts %}
                <tr>
                <th class="select" id="oneselect">
                    {% if cart.isselect %}
                    <input type="checkbox" name="check" checked="checked" id="changeselect" class="checkall" cartid = {{ cart.id }}>
                    {% else %}
                    <input type="checkbox" name="check" class="checkall" id="changeselect" cartid = {{ cart.id }}>
                    {% endif %}

                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </th>
                <th class="tablegood">{{ cart.productdetail.type }}</th>
                <th class="goodsinfo">{{ cart.productdetail.name }}</th>

{#                <div class="count">#}
{#                    <span>数量：</span>#}
{#                    <span class="minus"></span>#}
{#                    <input type="text" value="1" class="countnum">#}
{#                    <span class="plus"></span>#}
{#                    <span class="store">库存<b class="storenum">{{ product.store }}</b>件</span>#}
{#                </div>#}

                <th class="goodprice" goodprice={{ cart.productdetail.price }}>单价{{ cart.productdetail.price }} （元）</th>
                <th class="goodnum" productnumber={{ cart.productnumber }}><span class="minus"></span>{{ cart.productnumber }}<span class="plus"></span></th>
                <th class="goodssum">{{ cart.productdetail.price }}×{{ cart.productnumber }}</th>
                <th class="goodsctrl">待下单</th>
            </tr>
            {% endfor %}

            </thead>
            <tbody class="data-con">

            </tbody>
        </table>

        <!--空-->
        <div class="cartEmpty">
            {% if carts %}
                <br>
                <br><br><br>
                <b>&nbsp;&nbsp;&nbsp;￥金额：</b>
                <a href={% url 'mgj:generateorder' %} class="deleteall">点击下单</a>
            {% else %}
                <div class="cart_logo"></div>
            <h5>您的购物车还是空的，赶快去挑选商品吧！</h5>
            <ul class="cartEmpty-list">
                <li>
                    去看看大家都喜欢的
                    <a href="#" class="cartlink">潮流单品</a>
                </li>
                <li>
                    去看看正在折扣中的优品
                    <a href="#" class="cartlink">团购</a>
                </li>
            </ul>
            {% endif %}
        </div>
{% endblock %}
    </div>


</div>
<!--尾部-->
<div class="footer">
    <p class="copyright">
        <a href="#">蘑菇街</a>|
        <a href="#">加入开放平台</a>|
        ©2016Mogujie.com,All RightS Reserve.
    </p>
    <div class="icons">
        <a href="#" class="vs"></a>
        <a href="#" class="mc"></a>
        <a href="#" class="up"></a>
        <a href="#" class="pa"></a>
        <a href="#" class="kx"></a>
        <a href="#" class="pc"></a>
    </div>
</div>
</body>
</html>
